DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_STAGING_ENV_GUILD_ID=
DISCORD_PROD_ENV_GUILD_ID=
DATABASE_URL=
DIRECT_URL=
DAVI_BOSS_STATS_SPREADSHEET_URL=
DAVI_DISCORD_USER_ID=
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_HANDLES=
ENABLE_COMMUNITY_TOPIC_TRACKING=true
COMMUNITY_TOPIC_TRACKING_CHANNELS=general,gaming-talk,media,music-talk
ENABLE_MEMORY_LOGGING=false
DEPLOYMENT_NOTIFY_USER_ID=
DEPLOYMENT_CHANGELOG_GITHUB_TOKEN=
UPTIME_STATUS_MONITOR_URL=
UPTIME_STATUS_MONITOR_INTERVAL_MS=300000
HEALTH_CHECK_MONITOR_URL=
HEALTH_CHECK_MONITOR_INTERVAL_MS=86400000
PORT=8000
