DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_STAGING_ENV_GUILD_ID=
DISCORD_PROD_ENV_GUILD_ID=
DATABASE_URL=
DIRECT_URL=
DAVI_BOSS_STATS_SPREADSHEET_URL=
DAVI_DISCORD_USER_ID=
ENABLE_MEMORY_LOGGING=false
DEPLOYMENT_NOTIFY_USER_ID=
DEPLOYMENT_CHANGELOG_GITHUB_TOKEN=
PORT=8000
